<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deinspection">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.DEInspection">
        <activity android:name=".activities.NewCar3Activity"/>
        <activity android:name=".activities.MainMenuActivity"/> >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.NewCar2Activity" />
        <activity android:name=".activities.NewCarActivity" />
        <activity android:name=".activities.CarActivity" />
        <activity android:name=".activities.CarDetailsHelpActivity" />
        <activity android:name=".activities.CarDetailsInfoActivity" />
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.InspectionActivity" />
    </application>

</manifest>